// _base.scss
// ==============
html {
    font-size: 16px;
}

body {
  font-family: $bodyFont;
  font-weight: 100;
  font-size: rem(16);
  background: $light;
  color: $dark;
  min-width: rem(400);
}
h1, h2, h3, h4, h5, h6 {
  //font-weight: 100;
  font-family: $headFont;
}

img {
  max-width: 100%;
}

a {
  color: $lightBlue;
  text-decoration: none;
  cursor: pointer;
  transition: all, 0.4s, ease-out;
  &:hover, &:focus {
    color: $light;
  }
  &:active {
    color: $lightBlue;
  }
}

.section {
    position: relative;
    width: 100%;
    &--full {
        min-height: 100vh;
    }
    &--half {
        height: 50vh;
    }
    &--container {
      @include j-cf();
      margin: 0 auto;
      position: relative;
      @include media(mobile) {
        padding: rem(0 20);
      };
      @include media(tablet) {
        padding: rem(0 40);
      };
      @include media(laptop) {
        padding: rem(0 70);
      };
      @include media(desktop) {
        padding: rem(0 100);
      };
    }
}

.ico {
    height: rem(50);
    width: rem(50);
    display: inline-block;
}
