// _base.scss
// ==============
body {
  font-family: $bodyFont;
  font-weight: 100;
  font-size: 10px;
  background: $light;
  color: $dark;
  min-width: 400px;
}
h1, h2, h3, h4, h5, h6 {
  //font-weight: 100;
}

a {
  color: $lightBlue;
  text-decoration: none;
  cursor: pointer;
  transition: all, 0.4s, ease-out;
  &:hover, &:focus {
    color: $light;
  }
  &:active {
    color: $lightBlue;
  }
}

.wrapper {
  @include j-cf();
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include media(mobile) {
    padding: 0 20px;
  };
  @include media(tablet) {
    padding: 0 40px;
  };
  @include media(laptop) {
    padding: 0 70px;
  };
  @include media(desktop) {
    padding: 0 100px;
  };

}

.page-section {
  min-height: 100vh;
  position: relative;
  font-size: 10px;
}
.hero {
  @include backImage('../img/bg-hero-1.jpg');
  header {
    position: absolute;
    left: 80px;
    bottom: 80px;
    z-index: 2;
    user-select: none;
    font-weight: 800;
    letter-spacing: -2px;
    h1 {
      font-size: 6.0em;
      color: $lightBlue;
    }
    h2 {
      font-size: 5.0em;
      span {
        color: $orange;
      }
    }
    h3 {
      font-size: 5.0em;
    }
  }
}
#js-lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
