.main-footer {
  padding: rem(130 40 100 40);
  background: url("../img/logo-am.svg") center 80px/150px no-repeat lighten($dark, 5%);
  text-align: center;
  font-weight: 200;
  img {
    max-width: rem(140);
    margin-bottom: rem(10);
  }
}
