.main__header {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 4;
    background-color: $dark;
    height: 50px;
    &--visible {
        top: 0;
    }
    img {
        position: absolute;
        padding: 5px;
        height: 50px;
    }
    h1, h2 {
        display: block;
        text-align: right;
        font-family: $bodyFont;
    }
    h1 {
      font-size: rem(22);
      color: $lightBlue;
      padding-top: 5px;
    }
    h2 {
        font-size: rem(15);
        color: $light;
        line-height: 1;
        .plus {
            width: rem(15);
            height: rem(15);
            font-size: rem(15);
            &:after {
                width: rem(15);
                height: rem(15);
                color: $dark;
            }
        }
    }
}
