// _intro.scss
// ==============

.intro {
    background-color: $light;
    text-align: center;
    h1 {
        margin: 100px 0 40px 0;
        font-size: 8.0em;
        color: $midgrey;
        border-bottom: 3px solid $orange;
        display: inline-block;
    }
    p {
        font-size:1.8em;
        line-height: 1.6;
        max-width: 800px;
        margin: auto;
    }
    ul {
        max-width: 1000px;
        margin: 80px auto;
        > li {
                @include j-span(1/4);
                padding: 0 20px;
                h2 {
                    font-size: 3.0em;
                    color: $midgrey;
                    border-bottom: 3px solid $lightBlue;
                    display: inline-block;
                    padding-bottom: 10px;
                }
                .icon {
                    font-family: eb-mkt;
                    font-size: 6.0em;
                    color: $midgrey;
                    display: block;
                    padding: 30px;
            }
        }
    }
    ol {
    font-size: 1.8em;
    line-height: 1.6;
    margin-top: 20px;
    }
}
