// _mixins
// ========
@mixin backImage($image) {
  background: url($image) no-repeat 50% 20% ;
  background-size: cover;
  background-attachment: fixed;
}

@mixin media($point) {

  $mobile: 768px;
  $tablet: 1024px;
  $laptop: 1280px;
  $desktop: 1281px;

  @if $point == mobile {
    @media only screen and (max-width: $mobile - 1) { @content; }
  }
  @else if $point == tablet {
    @media only screen and (min-width: $mobile + 1) and (max-width: $tablet) { @content; }
  }
  @else if $point == laptop {
    @media only screen and (min-width: $tablet + 1) and (max-width: $laptop) { @content; }
  }
  @else if $point == desktop {
    @media only screen and (min-width: $desktop) { @content; }
  }

}

// Functions
@function rem($values) {
  $rem: ();
  @each $value in $values { /* 4 */

    @if $value == 0 or $value == auto {
      $rem: append($rem, $value);
    }
    @else {
      $val: $value / ($value * 0 + 1);
      $rem: append($rem, ($val / 16 + rem));
    }
  }
  @return #{$rem};
}
