// _porjects.scss
// ==============
.project-pages {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    background-color: $light;
    .base-header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 6;
        height: 50px;
        background: #000;
        .project-logo {
            position: absolute;
            top: 8px;
            left: 40px;
            width: 75px;
        }
        .project-close {
            position: absolute;
            top: -3px;
            right: 40px;
            font-size: 5.0em;
        }
        h1 {
            color: $light;
            font-size: 3.0em;
            line-height: 50px;
            padding: 0 100px;
            text-align: center;
        }
    }
}

.project {
    .project-header {
        width: 100%;
        height: 50vh;
        display: table;
        text-align: center;
        position: relative;
        h2 {
            display: table-cell;
            vertical-align: middle;
            font-size: 6.0em;
            width: 100%;
            span {
                background: rgba(0,0,0,0.3);
                color: $light;
                padding: 10px 20px;
            }
        }
    }
    &.project-name {
        .project-header {
            @include backImage('../img/bg-hero-2.jpg');
        }
    }
    .project-basic {
        padding: 30px 0;
        background-color: $dark;
        ul {
            @include j-cf();
            &.w3 {
                li {
                    @include j-span(1/3);
                }
            }
            &.w4 {
                li {
                    @include j-span(1/4);
                }
            }
            &.w5 {
                li {
                    @include j-span(1/5);
                }
            }
        }
        li {
            text-align: center;
            span {
                font-size: 1.4em;
                text-transform: uppercase;
                font-weight: 800;
                margin-bottom: 10px;
                display: block;
                color: $lightBlue;
            }
            p {
                font-size: 1.8em;
                color: $light;
            }
        }
    }

    .project-main {
        margin: 0 20%;
        position: relative;
        header {
            position: relative;
            min-height: 150px;
            h3 {
                font-size: 5.0em;
                line-height: 1.2em;
            }
        }
        p {
            font-size: 1.8em;
            line-height: 1.6;
        }
    }
    .project-main-block {
        position: relative;
        padding-bottom: 100px;
    }
    .project-main-container {
        padding-left: 80px;
        .sprite {
            margin-left: -80px;
        }
    }
    .spacer-end {
        padding-bottom: 50vh;
    }

    .dark-bg {
        background-color: $dark;
    }
}
