// _variables.scss
// =================

// Color Palette
$dark       : #2C3E50;
$light		: #F1F1F1;
$white      : #FFFFFF;
$lightgrey  : #E4E4E4;
$midgrey    : #999999;

$lightBlue	: #26b4c5;
$orange	    : #e64f25;

// Fonts
$headFont : Jenna Sue, helvetica, sans-serif;
$bodyFont : Source Sans Pro, helvetica, sans-serif;
