// _variables.scss
// =================

// Color Palette
$dark       : #2c3e50;
$light		: #F1F1F1;
$white      : #FFFFFF;
$midgrey    : #999999;

$lightBlue	: #26b4c5;
$orange	    : #e64f25;

// Fonts
$headFont : helvetica, sans-serif;
$bodyFont : helvetica, sans-serif;
