.main__header {
    position: fixed;
    top: -50px;
    right: 0;
    left: 0;
    z-index: 4;
    background-color: $dark;
    height: rem(50);
    transition: top 1s ease-out;
    &--visible {
        top: 0;
    }
    &__left {
        float: left;
        width: 50%;
    }
    &__logo {
        padding: rem(5);
        height: rem(50);
        float: left;
        svg {
            height: rem(40);
            float: left;
        }
    }
    h1, h2 {
        display: block;
        font-family: $bodyFont;
    }
    h1 {
      font-size: rem(22);
      color: $lightBlue;
      padding: rem(5 0 0 5);
    }
    h2 {
        font-size: rem(15);
        color: $light;
        line-height: 1;
        .plus {
            width: rem(15);
            height: rem(15);
            font-size: rem(15);
            &:after {
                width: rem(15);
                height: rem(15);
                color: $dark;
            }
        }
    }
}
