// _parallax.scss
// ==============
.section__parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 1s ease-out;
    background: url(../img/demo_screens.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
    /*
    &__layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        &--base {
            transform: translateZ(0);
        }
        &--back {
            transform: translateZ(-2px) scale(3);
            background: url(img/demo_screens.jpg) no-repeat;
            background-size: cover;
        }
    }
    */
    &.out {
        height: 0vh;
        opacity: 0;
    }
}
