/* Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Source Sans Pro, helvetica, sans-serif;
  font-weight: 100;
  font-size: 1rem;
  background: #F1F1F1;
  color: #2C3E50;
  min-width: 25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Jenna Sue, helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #26b4c5;
  text-decoration: none;
  cursor: pointer;
  transition: all, 0.4s, ease-out;
}

a:hover, a:focus {
  color: #F1F1F1;
}

a:active {
  color: #26b4c5;
}

.section {
  position: relative;
  width: 100%;
}

.section--full {
  min-height: 100vh;
}

.section--half {
  height: 50vh;
}

.section--container {
  *zoom: 1;
  margin: 0 auto;
  position: relative;
}

.section--container:before, .section--container:after {
  content: '';
  display: table;
}

.section--container:after {
  clear: both;
}

@media only screen and (max-width: 767px) {
  .section--container {
    padding: 0 1.25rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .section--container {
    padding: 0 2.5rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .section--container {
    padding: 0 4.375rem;
  }
}

@media only screen and (min-width: 1281px) {
  .section--container {
    padding: 0 6.25rem;
  }
}

.ico {
  height: 3.125rem;
  width: 3.125rem;
  display: inline-block;
}

.main__header {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 4;
  background-color: #2C3E50;
  height: 50px;
}

.main__header--visible {
  top: 0;
}

.main__header img {
  position: absolute;
  padding: 5px;
  height: 50px;
}

.main__header h1, .main__header h2 {
  display: block;
  text-align: right;
  font-family: Source Sans Pro, helvetica, sans-serif;
}

.main__header h1 {
  font-size: 1.375rem;
  color: #26b4c5;
  padding-top: 5px;
}

.main__header h2 {
  font-size: 0.9375rem;
  color: #F1F1F1;
  line-height: 1;
}

.main__header h2 .plus {
  width: 0.9375rem;
  height: 0.9375rem;
  font-size: 0.9375rem;
}

.main__header h2 .plus:after {
  width: 0.9375rem;
  height: 0.9375rem;
  color: #2C3E50;
}

.main-footer {
  padding: 8.125rem 2.5rem 6.25rem 2.5rem;
  background: url("../img/logo-am.svg") center 80px/150px no-repeat #354b60;
  text-align: center;
  font-weight: 200;
}

.main-footer img {
  max-width: 8.75rem;
  margin-bottom: 0.625rem;
}

.section__hero {
  background: url("../img/bg-hero-2.jpg") no-repeat 50% 20%;
  background-size: cover;
  background-attachment: fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section__hero .logo {
  max-width: 12.5rem;
  position: absolute;
  top: 5rem;
  left: 50%;
  margin-left: -6.25rem;
  z-index: 1;
}

.section__hero header {
  position: absolute;
  left: 50%;
  bottom: 5rem;
  margin-left: -10rem;
  z-index: 2;
  font-weight: 100;
  text-align: center;
}

.section__hero header h1 {
  font-size: 5rem;
  color: #26b4c5;
}

.section__hero header h2 {
  font-size: 1.875rem;
  font-family: Source Sans Pro, helvetica, sans-serif;
  color: #F1F1F1;
  line-height: 1.3;
}

.section__hero header h2 .plus {
  width: 1.875rem;
  height: 1.875rem;
  vertical-align: -4px;
}

.section__hero header h2 .plus:after {
  width: 1.875rem;
  height: 1.875rem;
}

.section__hero header h3 {
  font-size: 1.5625rem;
  font-family: Source Sans Pro, helvetica, sans-serif;
  color: #e64f25;
}

#js-lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: rgba(33, 134, 165, 0.2);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 50%, #2C3E50 100%);
}

.section__intro {
  background-color: #F1F1F1;
  text-align: center;
}

.section__intro h1 {
  margin: 6.25rem 0 2.5rem 0;
  font-size: 5rem;
  color: #999999;
  border-bottom: 3px solid #e64f25;
  display: inline-block;
}

.section__intro p {
  font-size: 1.125rem;
  line-height: 1.6;
  max-width: 50rem;
  margin: auto;
}

.section__intro ul {
  max-width: 62.5rem;
  margin: 5rem auto;
}

.section__intro ul > li {
  float: left;
  clear: none;
  width: 25%;
  margin-left: 0;
  margin-right: 0;
  padding: 0 1.25rem;
}

.section__intro ul > li h2 {
  font-size: 1.875rem;
  color: #999999;
  border-bottom: 3px solid #26b4c5;
  display: inline-block;
  padding-bottom: 0.625rem;
}

.section__intro ul > li .icon {
  font-family: eb-mkt;
  font-size: 3.75rem;
  color: #999999;
  display: block;
  padding: 1.875rem;
}

.section__intro ol {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-top: 1.25rem;
}

.promo1 {
  background: url("../img/bg-hero-1.jpg") no-repeat 50% 20%;
  background-size: cover;
  background-attachment: fixed;
  min-height: 50vh;
  position: relative;
}

.promo1 h2 {
  font-size: 7.0em;
  color: #26b4c5;
  position: absolute;
  bottom: 0;
  left: 20%;
  margin-bottom: 6.25rem;
}

.section__strategy article {
  margin-left: 20%;
  position: relative;
}

.section__strategy .ico {
  fill: #F1F1F1;
  position: absolute;
}

.section__strategy .spacer {
  position: relative;
  height: 8.75rem;
  background: url(../img/line.png) repeat-y;
}

.section__strategy .line {
  position: absolute;
  top: 3.125rem;
  bottom: 0;
  left: 0;
  width: 3.125rem;
  background: url(../img/line.png) repeat-y;
}

.section__strategy ul {
  max-width: 50rem;
}

.section__strategy ul li {
  position: relative;
}

.section__strategy ul li:last-child {
  padding-bottom: 8.75rem;
}

.section__strategy ul li h3 {
  font-size: 1.625rem;
  color: #26b4c5;
  padding: 0.625rem 0 1.25rem 5rem;
  transition: all 0.5s ease-out;
}

.section__strategy ul li p {
  font-size: 1.25rem;
  color: #2C3E50;
  padding: 0 0 5rem 5rem;
  transition: all 0.5s ease-out;
}

.section__strategy ul li.out h3, .section__strategy ul li.out p {
  color: #E4E4E4;
}

.section__portfolio {
  background-color: #F1F1F1;
  *zoom: 1;
}

.section__portfolio:before, .section__portfolio:after {
  content: '';
  display: table;
}

.section__portfolio:after {
  clear: both;
}

.section__portfolio .w66 {
  float: left;
  clear: none;
  width: 66.66667%;
  margin-left: 0;
  margin-right: 0;
}

.section__portfolio .w33 {
  float: left;
  clear: none;
  width: 33.33333%;
  margin-left: 0;
  margin-right: 0;
}

.section__portfolio header h2 {
  font-size: 0.625rem;
  height: 50%;
  margin-left: 50%;
}

.section__portfolio .col {
  padding: 0 5;
}

.section__portfolio .col a {
  display: block;
  overflow: hidden;
  position: relative;
  border: 5px solid #F1F1F1;
}

.section__portfolio .col a img {
  display: block;
  transition: all 0.5s ease-out;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.section__portfolio .col a h3 {
  font-size: 3.75rem;
}

.section__portfolio .col a:hover .info-container {
  opacity: 1;
}

.section__portfolio .col a:hover img {
  transform: scale(1.3);
  transition: all 5.0s ease-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.section__portfolio .col a:hover h3 {
  margin-top: 0;
  opacity: 1;
}

.section__portfolio .col a:hover p {
  margin-top: 0;
  opacity: 1;
}

.section__portfolio .info-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateX(0) translateY(0);
  transition: all 0.6s ease;
}

.section__portfolio .info-container.no-transition {
  transition: none;
}

.section__portfolio .info-container.hover-top {
  transform: translateY(-100%) translateX(0);
}

.section__portfolio .info-container.hover-right {
  transform: translateX(100%) translateY(0);
}

.section__portfolio .info-container.hover-bottom {
  transform: translateY(100%) translateX(0);
}

.section__portfolio .info-container.hover-left {
  transform: translateX(-100%) translateY(0);
}

.section__portfolio .info-container .info-table {
  display: table;
  width: 100%;
  height: 100%;
}

.section__portfolio .info-container .info-cell {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 1.25rem;
}

.section__portfolio .info-container h3 {
  font-size: 1.5rem;
  margin-bottom: 0.625rem;
  margin-top: 6.25rem;
  opacity: 0;
  transition: all 1.0s ease-out;
}

.section__portfolio .info-container p {
  font-size: 0.875rem;
  margin-top: 12.5rem;
  opacity: 0;
  transition: all 1.0s ease-out;
}

.section__experience .track {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease-in forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes beat {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}

.section__experience .stop-name {
  display: none;
}

.section__experience .track {
  fill: none;
  stroke-width: 4px;
}

.section__experience .stop-name {
  fill: #231f20;
  font-size: 0.625rem;
}

.section__experience .line-num {
  fill: #f2f1f1;
  font-size: 0.625rem;
}

.section__experience .line-stop {
  stroke-miterlimit: 10;
  stroke-width: 3px;
  fill: #fff;
  display: none;
}

.section__experience g .line-ends {
  cursor: pointer;
  transform-origin: center;
}

.section__experience g .line-ends:first-of-type {
  animation: none;
}

.section__experience g .line-num {
  cursor: pointer;
}

.section__experience .line-1 {
  stroke: #f7a63b;
}

.section__experience .line-1-stop {
  stroke: #f7a63b;
}

.section__experience .line-1-ends {
  fill: #f7a63b;
}

.section__experience .line-2 {
  stroke: #d63635;
}

.section__experience .line-2-stop {
  stroke: #d63635;
}

.section__experience .line-2-ends {
  fill: #d63635;
}

.section__experience .line-3 {
  stroke: #89173e;
}

.section__experience .line-3-stop {
  stroke: #89173e;
}

.section__experience .line-3-ends {
  fill: #89173e;
}

.section__experience .line-4 {
  stroke: #32bbca;
}

.section__experience .line-4-stop {
  stroke: #32bbca;
}

.section__experience .line-4-ends {
  fill: #32bbca;
}

.section__experience .line-5 {
  stroke: #2b488c;
}

.section__experience .line-5-stop {
  stroke: #2b488c;
}

.section__experience .line-5-ends {
  fill: #2b488c;
}

.section__parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 1s ease-out;
  background: url(../img/demo_screens.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
  /*
    &__layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        &--base {
            transform: translateZ(0);
        }
        &--back {
            transform: translateZ(-2px) scale(3);
            background: url(img/demo_screens.jpg) no-repeat;
            background-size: cover;
        }
    }
    */
}

.section__parallax.out {
  height: 0vh;
  opacity: 0;
}

.project-pages {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  background-color: #F1F1F1;
}

.project-pages .base-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 6;
  height: 3.125rem;
  background: #000;
}

.project-pages .base-header .project-logo {
  position: absolute;
  top: 0.5rem;
  left: 2.5rem;
  width: 4.6875rem;
}

.project-pages .base-header .project-close {
  position: absolute;
  top: -3px;
  right: 2.5rem;
  font-size: 3.125rem;
}

.project-pages .base-header h1 {
  color: #F1F1F1;
  font-size: 0.1875rem;
  line-height: 3.125rem;
  padding: 0 6.25rem;
  text-align: center;
}

.project-pages .base-header .scroll-progress {
  position: absolute;
  top: 3.125rem;
  right: 0;
  left: 0;
  height: 0.3125rem;
  background-color: rgba(44, 62, 80, 0.5);
}

.project-pages .base-header .scroll-progress .js-scroll-bar {
  background-color: #e64f25;
  height: 0.3125rem;
  display: block;
  width: 0;
  transition: all 0.2s;
}

.project .project-header {
  width: 100%;
  height: 70vh;
  display: table;
  text-align: center;
  position: relative;
}

.project .project-header h2 {
  display: table-cell;
  vertical-align: middle;
  font-size: 3.75rem;
  width: 100%;
}

.project .project-header h2 span {
  background: rgba(0, 0, 0, 0.3);
  color: #F1F1F1;
  padding: 0.625rem 1.25rem;
}

.project.project-name .project-header {
  background: url("../img/bg-hero-2.jpg") no-repeat 50% 20%;
  background-size: cover;
  background-attachment: fixed;
}

.project .project-basic {
  width: 30%;
  float: left;
  padding: 3.75rem;
  background-color: #F1F1F1;
}

.project .project-basic.js-stick-on {
  position: fixed;
  top: 3.125rem;
  bottom: 0;
}

.project .project-basic ul {
  *zoom: 1;
}

.project .project-basic ul:before, .project .project-basic ul:after {
  content: '';
  display: table;
}

.project .project-basic ul:after {
  clear: both;
}

.project .project-basic li {
  text-align: right;
  padding-bottom: 2.5rem;
}

.project .project-basic li span {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0.625rem;
  display: block;
  color: #26b4c5;
}

.project .project-basic li p {
  font-size: 2.25rem;
  color: #2C3E50;
}

.project .project-main {
  margin-left: 30%;
  position: relative;
}

.project .project-main header {
  position: relative;
  min-height: 9.375rem;
}

.project .project-main header h3 {
  font-size: 3.125rem;
  line-height: 1.2;
}

.project .project-main p {
  font-size: 1.125rem;
  line-height: 1.6;
}

.project .project-main-block {
  position: relative;
  padding-bottom: 6.25rem;
}

.project .project-main-container {
  padding: 0 5rem;
}

.project .project-main-container .sprite {
  margin-left: -5rem;
}

.project .spacer-end {
  padding-bottom: 50vh;
}

.project .dark-bg {
  background-color: #2C3E50;
}

.stem-wrap {
  position: relative;
  height: 0px;
  z-index: -1;
}

.stem-container {
  margin-left: 30%;
}

.stem {
  position: fixed;
  width: 50px;
  height: 50vh;
  top: 0;
  left: 20%;
  background: #26b4c5;
  z-index: 1;
  transition: all 0.25s;
}

.stem-bg {
  position: fixed;
  width: 50px;
  height: 100vh;
  top: 0;
  left: 20%;
  background: #E4E4E4;
  z-index: 0;
}

.sprite {
  background: url("../img/temp-sprite.png");
  width: 3.125rem;
  position: absolute;
  z-index: 5;
}

.sprite-space {
  background-position: 0 0;
  top: 3.125rem;
  bottom: 0;
}

.sprite-space-top {
  top: 0;
}

.sprite-research {
  height: 3.125rem;
  background-position: -50px 0;
}

.sprite-architecture {
  height: 3.125rem;
  background-position: -100px 0;
}

.sprite-design {
  height: 3.125rem;
  background-position: -150px 0;
}

.sprite-code {
  height: 3.125rem;
  background-position: -200px 0;
}

.sprite-integration {
  height: 3.125rem;
  background-position: -250px 0;
}

.sprite-end {
  background-position: -300px 0;
  top: 3.125rem;
  bottom: 0;
}

.sprite-end-top {
  top: 0;
}

.sprite-space-dark {
  background-position: 0 0;
  top: 3.125rem;
  bottom: 0;
}

.sprite-space-dark-top {
  top: 0;
}

.sprite-research-dark {
  height: 3.125rem;
  background-position: -350px 0;
}

.sprite-architecture-dark {
  height: 3.125rem;
  background-position: -400px 0;
}

.sprite-design-dark {
  height: 3.125rem;
  background-position: -450px 0;
}

.sprite-code-dark {
  height: 3.125rem;
  background-position: -500px 0;
}

.sprite-integration -dark {
  height: 3.125rem;
  background-position: -550px 0;
}

.sprite-end-dark {
  background-position: -600px 0;
  top: 3.125rem;
  bottom: 0;
}

.sprite-end-dark-top {
  top: 0;
}

.spacer {
  position: relative;
  height: 8.75rem;
}

.plus {
  background-color: #e64f25;
  font-weight: 800;
  border-radius: 50%;
  display: inline-block;
  line-height: 1;
  vertical-align: -4px;
  animation: color_change 6s infinite;
  position: relative;
  text-align: center;
}

.plus:after {
  content: '+';
  position: absolute;
  top: 0;
  left: 0;
  color: #F1F1F1;
  animation: cross_rotate 8s infinite;
}

@keyframes color_change {
  0% {
    background-color: #e64f25;
  }
  50% {
    background-color: #26b4c5;
  }
  100% {
    background-color: #e64f25;
  }
}

@keyframes cross_rotate {
  30% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  55% {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=builds/development/css/style.css.map */
