/* Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, sans-serif;
  font-weight: 100;
  font-size: 10px;
  background: #F1F1F1;
  color: #2c3e50;
  min-width: 400px;
}

img {
  max-width: 100%;
}

a {
  color: #26b4c5;
  text-decoration: none;
  cursor: pointer;
  transition: all, 0.4s, ease-out;
}

a:hover, a:focus {
  color: #F1F1F1;
}

a:active {
  color: #26b4c5;
}

.container {
  *zoom: 1;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container:before, .container:after {
  content: '';
  display: table;
}

.container:after {
  clear: both;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .container {
    padding: 0 70px;
  }
}

@media only screen and (min-width: 1281px) {
  .container {
    padding: 0 100px;
  }
}

.page-section {
  min-height: 100vh;
  position: relative;
  font-size: 10px;
}

.hero {
  background: url("../img/bg-hero-2.jpg") no-repeat 50% 20%;
  background-size: cover;
  transition: all 0.3s ease-out;
}

.hero header {
  position: absolute;
  left: 80px;
  bottom: 80px;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 800;
  letter-spacing: -4px;
}

.hero header h1 {
  font-size: 6.0em;
  color: #26b4c5;
}

.hero header h2 {
  font-size: 5.0em;
}

.hero header h2 span {
  color: #e64f25;
}

.hero header h3 {
  font-size: 5.0em;
}

#js-lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(33, 134, 165, 0.2);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 50%, #2c3e50 100%);
}

.main-footer {
  padding: 130px 40px 100px 40px;
  background: url("../img/logo-ultimages.svg") center 80px/150px no-repeat #354b60;
  text-align: center;
  font-size: 1.6em;
  font-weight: 200;
}

.main-footer img {
  max-width: 140px;
  margin-bottom: 10px;
}

.hero {
  background: url("../img/bg-hero-2.jpg") no-repeat 50% 20%;
  background-size: cover;
  transition: all 0.3s ease-out;
}

.hero header {
  position: absolute;
  left: 80px;
  bottom: 80px;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 800;
  letter-spacing: -4px;
}

.hero header h1 {
  font-size: 6.0em;
  color: #26b4c5;
}

.hero header h2 {
  font-size: 5.0em;
}

.hero header h2 span {
  color: #e64f25;
}

.hero header h3 {
  font-size: 5.0em;
}

#js-lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(33, 134, 165, 0.2);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 50%, #2c3e50 100%);
}

.intro {
  text-align: center;
}

.intro h1 {
  margin: 100px 0 40px 0;
  font-size: 4.0em;
}

.intro p {
  font-size: 2.4em;
  line-height: 1.6;
}

.intro ul {
  margin-top: 100px;
}

.intro ul > li {
  float: left;
  clear: none;
  width: 25%;
  margin-left: 0;
  margin-right: 0;
  padding: 0 20px;
}

.intro ul > li h2 {
  font-size: 3.0em;
  color: #26b4c5;
}

.intro ol {
  font-size: 1.8em;
  line-height: 1.6;
  margin-top: 20px;
}

.strategy {
  background: url("../img/bg-hero-1.jpg") no-repeat 50% 20%;
  background-size: cover;
  transition: all 0.3s ease-out;
}

.strategy header h2 {
  font-size: 5.0em;
  height: 50%;
  margin-left: 50%;
}

.strategy ul {
  height: 50%;
  margin-left: 50%;
}

.strategy ul li h3 {
  font-size: 2.6em;
  color: #26b4c5;
}

.strategy ul li p {
  font-size: 2.0em;
  color: #F1F1F1;
}

.portfolio {
  max-width: 1300px;
}

.portfolio header h2 {
  font-size: 5.0em;
  height: 50%;
  margin-left: 50%;
}

.portfolio .col {
  float: left;
  clear: none;
  width: 33.33333%;
  margin-left: 0;
  margin-right: 0;
}

.portfolio .col img {
  padding: 10px;
}
