/* Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Source Sans Pro, helvetica, sans-serif;
  font-weight: 100;
  font-size: 10px;
  background: #F1F1F1;
  color: #2C3E50;
  min-width: 400px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Jenna Sue, helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: #26b4c5;
  text-decoration: none;
  cursor: pointer;
  transition: all, 0.4s, ease-out;
}

a:hover, a:focus {
  color: #F1F1F1;
}

a:active {
  color: #26b4c5;
}

.container {
  *zoom: 1;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container:before, .container:after {
  content: '';
  display: table;
}

.container:after {
  clear: both;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .container {
    padding: 0 70px;
  }
}

@media only screen and (min-width: 1281px) {
  .container {
    padding: 0 100px;
  }
}

.page-section {
  min-height: 100vh;
  position: relative;
  font-size: 10px;
}

.hero {
  background: url("../img/bg-hero-2.jpg") no-repeat 50% 20%;
  background-size: cover;
  transition: all 0.3s ease-out;
  background-attachment: fixed;
}

.hero header {
  position: absolute;
  left: 80px;
  bottom: 80px;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 800;
  letter-spacing: -4px;
}

.hero header h1 {
  font-size: 6.0em;
  color: #26b4c5;
}

.hero header h2 {
  font-size: 5.0em;
}

.hero header h2 span {
  color: #e64f25;
}

.hero header h3 {
  font-size: 5.0em;
}

#js-lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(33, 134, 165, 0.2);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 50%, #2C3E50 100%);
}

.page-half {
  height: 50vh;
  background: url("../img/demo_screens.jpg") no-repeat 50% 20%;
  background-size: cover;
  transition: all 0.3s ease-out;
  background-attachment: fixed;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  -webkit-perspective: 1px;
}

.parallax .parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax .parallax_layer_back {
  transform: translateZ(-1px) scale(2);
}

.parallax .parallax_layer_back img {
  min-width: 100%;
}

.parallax .parallax_layer_base {
  transform: translateZ(0);
}

.pt-page-scaleDown {
  animation: scaleDown .7s ease both;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

@keyframes scaleDown {
  from {
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.pt-page-moveFromBottom {
  animation: moveFromBottom .6s ease both;
}

@keyframes moveFromBottom {
  from {
    transform: translateY(100%);
  }
}

.pt-page-ontop {
  z-index: 999;
}

.intro {
  transition: all 1s;
}

.main-footer {
  padding: 130px 40px 100px 40px;
  background: url("../img/logo-am.svg") center 80px/150px no-repeat #354b60;
  text-align: center;
  font-size: 1.6em;
  font-weight: 200;
}

.main-footer img {
  max-width: 140px;
  margin-bottom: 10px;
}

.hero {
  background: url("../img/bg-hero-2.jpg") no-repeat 50% 20%;
  background-size: cover;
  transition: all 0.3s ease-out;
  background-attachment: fixed;
}

.hero header {
  position: absolute;
  left: 80px;
  bottom: 80px;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 800;
  letter-spacing: -4px;
}

.hero header h1 {
  font-size: 6.0em;
  color: #26b4c5;
}

.hero header h2 {
  font-size: 5.0em;
}

.hero header h2 span {
  color: #e64f25;
}

.hero header h3 {
  font-size: 5.0em;
}

#js-lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(33, 134, 165, 0.2);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 50%, #2C3E50 100%);
}

.intro {
  background-color: #F1F1F1;
  text-align: center;
}

.intro h1 {
  margin: 100px 0 40px 0;
  font-size: 4.0em;
}

.intro p {
  font-size: 2.4em;
  line-height: 1.6;
}

.intro ul {
  margin-top: 100px;
}

.intro ul > li {
  float: left;
  clear: none;
  width: 25%;
  margin-left: 0;
  margin-right: 0;
  padding: 0 20px;
}

.intro ul > li h2 {
  font-size: 3.0em;
  color: #26b4c5;
}

.intro ol {
  font-size: 1.8em;
  line-height: 1.6;
  margin-top: 20px;
}

.promo1 {
  background: url("../img/bg-hero-1.jpg") no-repeat 50% 20%;
  background-size: cover;
  transition: all 0.3s ease-out;
  background-attachment: fixed;
  min-height: 50vh;
  position: relative;
}

.promo1 h2 {
  font-size: 7.0em;
  color: #26b4c5;
  position: absolute;
  bottom: 0;
  left: 20%;
  margin-bottom: 100px;
}

.strategy .stem-wrap {
  position: relative;
  height: 0px;
  z-index: -1;
}

.strategy .stem-container {
  width: 80%;
  float: right;
}

.strategy .stem {
  position: fixed;
  width: 50px;
  height: 50vh;
  top: 0;
  background: #26b4c5;
  z-index: 1;
  transition: all 0.25s;
}

.strategy .stem-bg {
  position: fixed;
  width: 50px;
  height: 100vh;
  top: 0;
  background: #E4E4E4;
  z-index: 0;
}

.strategy article {
  margin-left: 20%;
  position: relative;
}

.strategy .sprite {
  background: url("../img/temp-sprite.png");
  width: 50px;
  position: absolute;
}

.strategy .sprite-space {
  background-position: 0 0;
  top: 50px;
  bottom: 0;
}

.strategy .sprite-space-top {
  top: 0;
}

.strategy .sprite-research {
  height: 50px;
  background-position: -50px 0;
}

.strategy .sprite-architecture {
  height: 50px;
  background-position: -100px 0;
}

.strategy .sprite-design {
  height: 50px;
  background-position: -150px 0;
}

.strategy .sprite-code {
  height: 50px;
  background-position: -200px 0;
}

.strategy .sprite-integration {
  height: 50px;
  background-position: -250px 0;
}

.strategy .spacer {
  position: relative;
  height: 140px;
}

.strategy ul {
  max-width: 800px;
}

.strategy ul li {
  position: relative;
}

.strategy ul li:last-child {
  padding-bottom: 140px;
}

.strategy ul li h3 {
  font-size: 2.6em;
  color: #26b4c5;
  padding: 10px 0 20px 80px;
}

.strategy ul li p {
  font-size: 2.0em;
  color: #2C3E50;
  padding: 0 0 80px 80px;
}

.portfolio {
  background-color: #F1F1F1;
  *zoom: 1;
}

.portfolio:before, .portfolio:after {
  content: '';
  display: table;
}

.portfolio:after {
  clear: both;
}

.portfolio .w66 {
  float: left;
  clear: none;
  width: 66.66667%;
  margin-left: 0;
  margin-right: 0;
}

.portfolio .w33 {
  float: left;
  clear: none;
  width: 33.33333%;
  margin-left: 0;
  margin-right: 0;
}

.portfolio header h2 {
  font-size: 10.0em;
  height: 50%;
  margin-left: 50%;
}

.portfolio .col {
  padding: 0 5px;
}

.portfolio .col a {
  display: block;
  overflow: hidden;
  position: relative;
  border: 5px solid #F1F1F1;
}

.portfolio .col a img {
  display: block;
  transition: all 0.5s ease-out;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.portfolio .col a h3 {
  font-size: 6.0em;
}

.portfolio .col a:hover .info-container {
  opacity: 1;
}

.portfolio .col a:hover img {
  transform: scale(1.3);
  transition: all 5.0s ease-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.portfolio .col a:hover h3 {
  margin-top: 0;
  opacity: 1;
}

.portfolio .col a:hover p {
  margin-top: 0;
  opacity: 1;
}

.portfolio .info-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateX(0) translateY(0);
  transition: all 0.6s ease;
}

.portfolio .info-container.no-transition {
  transition: none;
}

.portfolio .info-container.hover-top {
  transform: translateY(-100%) translateX(0);
}

.portfolio .info-container.hover-right {
  transform: translateX(100%) translateY(0);
}

.portfolio .info-container.hover-bottom {
  transform: translateY(100%) translateX(0);
}

.portfolio .info-container.hover-left {
  transform: translateX(-100%) translateY(0);
}

.portfolio .info-container .info-table {
  display: table;
  width: 100%;
  height: 100%;
}

.portfolio .info-container .info-cell {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

.portfolio .info-container h3 {
  font-size: 2.4em;
  margin-bottom: 10px;
  margin-top: 100px;
  opacity: 0;
  transition: all 1.0s ease-out;
}

.portfolio .info-container p {
  font-size: 1.4em;
  margin-top: 200px;
  opacity: 0;
  transition: all 1.0s ease-out;
}

.experience .track {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease-in forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes beat {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.1);
  }
}

.experience .stop-name {
  display: none;
}

.experience .track {
  fill: none;
  stroke-width: 4px;
}

.experience .stop-name {
  fill: #231f20;
  font-size: 10px;
}

.experience .line-num {
  fill: #f2f1f1;
  font-size: 10px;
}

.experience .line-stop {
  stroke-miterlimit: 10;
  stroke-width: 3px;
  fill: #fff;
  display: none;
}

.experience g .line-ends {
  cursor: pointer;
  transform-origin: center;
}

.experience g .line-ends:first-of-type {
  animation: none;
}

.experience g .line-num {
  cursor: pointer;
}

.experience .line-1 {
  stroke: #f7a63b;
}

.experience .line-1-stop {
  stroke: #f7a63b;
}

.experience .line-1-ends {
  fill: #f7a63b;
}

.experience .line-2 {
  stroke: #d63635;
}

.experience .line-2-stop {
  stroke: #d63635;
}

.experience .line-2-ends {
  fill: #d63635;
}

.experience .line-3 {
  stroke: #89173e;
}

.experience .line-3-stop {
  stroke: #89173e;
}

.experience .line-3-ends {
  fill: #89173e;
}

.experience .line-4 {
  stroke: #32bbca;
}

.experience .line-4-stop {
  stroke: #32bbca;
}

.experience .line-4-ends {
  fill: #32bbca;
}

.experience .line-5 {
  stroke: #2b488c;
}

.experience .line-5-stop {
  stroke: #2b488c;
}

.experience .line-5-ends {
  fill: #2b488c;
}

/*# sourceMappingURL=builds/development/css/style.css.map */
